[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
py-midicsv = "*"
numpy = "*"
pandas = "*"
mido = "*"
beautifulsoup4 = "*"
requests = "*"
librosa = "*"
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
